@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@tailwind utilities;

@theme inline;

@layer base {
  * {
    font-family: "Segoe UI";
  }
}


html {
  scroll-behavior: smooth;
}


:root {
  --primary: 1 170 175; /* Convert #01AAAF to RGB (1, 170, 175) */
  --secondary: 26 192 128; /* Convert #1AC080 to RGB (26, 192, 128) */
}

.dark {
  --primary: 255 0 128; /* Example dark mode color */
  --secondary: 128 26 192; /* Example dark mode color */
}

